.App {
  max-width: 600px;
  margin: 0 auto;
}
.App__header {
  padding: 20px;
  color: #eee;
  text-align: center;
}
.App__title {
  margin: 0;
  font-size: 3em;
}
@media screen and (max-width: 768px) {
  .App {
    padding: 0 10px;
  }
}